// colors
$white: rgb(249, 249, 249);
$white-two: rgb(245, 245, 245);
$white-three: rgb(243, 243, 243);
$white-four: rgb(249, 249, 249);
$pinkish-grey: rgb(191, 191, 191);
$gunmetal: rgb(84, 89, 95);
$azure: rgb(2, 174, 235);
$faded-orange: rgb(242, 137, 100);
$greenish-teal: rgb(45, 191, 128);
$black: rgb(30, 30, 30);
$greyish: rgb(178, 178, 178);
$warm-grey: rgb(153, 153, 153);
$medium-pink: rgb(239, 84, 108);
$dark-sky-blue: rgb(73, 144, 226);
$tealish:rgb(51, 204, 204);
$black-two: rgb(0, 0, 0);
$slate: rgb(83, 101, 112);
$red-pink: rgb(237, 59, 89);
$orangey-red: rgb(255, 51, 51);
$gunmetal-two: rgb(91, 92, 92);
$slate-5: rgba(83, 101, 112, 0.05);
$barbie-pink: rgb(255, 85, 160);
$nobel: #9b9b9b;

$pgn-color-1: #4a4a4a;
$pgn-green:  #33cccc;
$redish1: #FD5B5B;