.double-avatar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  &.double-avatar--active {
    opacity: 1;
    pointer-events: all;
  }
}


.double-avatar__overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.double-avatar__modal {
  padding: 5px 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  border-radius: 4px;
}

.double-avatar__item {
  display: flex;
  align-items: center;
  padding: 15px 15px 11px;
  h3{
    font-size: 14px;
    font-weight: normal;
  }
}

.imgx36 {
  width: 36px !important;
  height: 36px !important;
}