.response-images {
  display: flex;
  align-items: center;
  > img {
    position: relative;
    width: 36px;
    height: 36px;
  }
  > img:first-child {
    left: 5px;
  }
  > img:nth-child(2) {
    left: -5px;
    z-index: 2;
  }
}


