.response-images {
  display: flex;
  align-items: center;
  > img {
    position: relative;
    width: 36px !important;
    height: 36px !important;
  }
  > img:first-child {
    left: 5px;
  }
  > img:nth-child(2) {
    left: -5px;
    z-index: 2;
  }

  /* edited by press **/
  .vue-avatar--wrapper:first-child {
    position: relative;
    left: 5px;
  }

  .vue-avatar--wrapper:nth-child(2) {
    position: relative;
    left: -5px;
  }

}