.m0{ margin: 0; }
.mt0{ margin-top: 0; }
.mb0{ margin-bottom: 0; }
.ml0{ margin-left: 0; }
.mr0{ margin-right: 0; }

.mb10p{ margin-bottom: 10px; }
.mb5p{ margin-bottom: 5px; }
.mt5p{ margin-top: 5px; }
.mt10p{ margin-top: 10px; }
.mt15p{ margin-top: 15px; }
.mt20p{ margin-top: 20px; }
.mr5p{ margin-right: 5px; }
.mr10p{ margin-right: 10px; }
.mr20p{ margin-right: 20px; }
.mr15p{ margin-right: 15px; }
.ml10p{ margin-left: 10px; }
.ml15p{ margin-left: 10px; }
.ml5p{ margin-left: 5px; }

.mlr38{ margin: 0 38px}

.mb15p{ margin-bottom: 15px; }
.mb20p{ margin-bottom: 20px; }
.mb30p{ margin-bottom: 30px; }

.mt50p { margin-top: 50px; }

.pt5  { padding-top: 5px; }
.pt10p  { padding-top: 10px; }
.pt20p  { padding-top: 20px; }
.pt24p  { padding-top: 24px; }
.pr20 { padding-right: 20px; }
.pr15,.pr15p { padding-right: 15px; }

.pl20 { padding-left: 20px; }

.pl15,.pl15p { padding-left: 15px; }

.pt20p { padding-top: 20px; }
.pt30p { padding-top: 30px; }
.pb15p { padding-bottom: 15px; }
.pb20p { padding-bottom: 20px; }
