html,
body {
  min-height: 100vh;
}
body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

*:not(input):not(textarea) {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
}
*:before,
*:after {
  box-sizing: border-box;
}

// ??
svg {
  width: 22px;
  height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  shape-rendering: auto;
}

.top__header {
  height: 44px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.logo > a {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 30px;
  height: 24px;
  fill: #777888;
}

.back-arrow {
  z-index: 2;
}

.back-arrow:active {
  opacity: 0.7;
}

.back-arrow svg,
.close-button svg {
  width: 20px;
  height: 22px;
  fill: #536570;
  vertical-align: middle;
}

.signup-group svg {
  width: 26px;
  height: 26px;
  fill: white;
}
.login__btn > div {
  width: 240px;
}
.login__btn > div > span {
  margin-left: 32px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.m-auto {
  margin: auto;
}

.agreement p {
  line-height: 1.5;
  a {
    font-weight: 600;
    color: #536570;
  }
}

.ah-login {
  color: #54595f;
  font-size: 16px;
  font-weight: 300;
  a {
    font-weight: 400;
    color: #33cccc;
  }
}

.signup-group .pg-btn {
  font-size: 16px;
  font-weight: normal;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0;
}

.login__btn {
  height: 62px;
}

.forgot_password > a {
  margin-top: 5px;
  color: #33cccc;
  line-height: 1.13;
}

.forgot_password > a:active {
  color: #2db7b7;
}

.h50 {
  height: 50px !important;
}

.dn-top p {
  font-size: 19px;
  color: #848993;
  line-height: 1.4;
}
.ptb-v {
  padding: 60px 0 25px;
}
.dn-top h1 {
  font-size: 22px;
  // margin-bottom: 0;
}

.skip-step a {
  color: $slate;
  font-size: 16px;
}

.dn-top h2 {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  color: $black-two;
  margin-bottom: 0;
}

.signup-group {
  margin-top: 130px;
}

.pg-btn:active {
  background-color: #2db7b7;
}

.pgn-textfield-error > .pgn__label {
  color: $red-pink;
}

.dn {
  display: none !important;
}

.pgn-color-1 {
  color: $pgn-color-1;
}

.pgn-bg-dark-grey {
  background-color: rgba(83, 101, 112, 0.05);
}

.thin-bottom-divider {
  box-shadow: inset 0 -0.5px #00000025;
}

.pgn-bg-green {
  background-color: $pgn-green;
}
.save_button {
  font-size: 14px;
  color: #33cccc;
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

//- TODO move to their own files

// component setting-input
.setting-input {
  margin-bottom: 15px;
}

.setting-input__label {
  display: block;
  margin-left: 15px;
  color: #6d6d72;
  font-size: 12px;
  margin-bottom: 5px;
}
.setting-input__input {
  display: block;
  height: 44px;
  padding: 10px 15px;
  width: 100%;
  border: none;
  outline: none;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  caret-color: #f28964;
}
.bgwhite {
  background-color: #fff;
}

// standard main top padding
.smtp {
  padding-top: 44px;
}

// component Switch
.border-trimmed {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
  margin-left: 15px;
}

.nobel-svg > svg {
  fill: $nobel !important;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
  font-size: 16px;
  -webkit-appearance: none;
  line-height: 16px;
}

.landing_header,
.live-header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
}

.bg-ivory {
  background-color: #F8F9F9 !important;
}

.fixed-header {
  box-shadow: 0 0.5px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #4a4a4a;
}
